{{#with deputado}}
<div class="section_header">
  <h3>
    <i class="icon-user"></i>
    <a class="profilelink" href="/{{uri}}">Sobre</a>
  </h3>
</div>
{{/with}}

<div id="abouts" class="section">
<ul id="about-main">
  {{#each about}}
    {{#if main}}
    <li>
      <h4>{{title}}</h4>
      {{#if table}}
        <table>
          {{#each table}}
            <tr>
              <th>{{label}}</th>
              <td>{{text}}</td>
            </tr>
          {{/each}}
        </table>
      {{/if}}
      {{#if list}}
        <ul class='list'>
          {{#each list}}
          <li>
          <h5>{{title}}</h5>
          <ul>
            {{#each itens}}
            <li>
            <strong>{{title}}</strong>
            {{#each texts}}
            <p> {{this}} </p>
            {{/each}}
            </li>
            {{/each}}
          </ul>
          </li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
    {{/if}}
  {{/each}}
</ul>

<ul id="about-secondary">
  {{#each about}}
    {{#if secondary}}
    <li>
      <h4>{{title}}</h4>
      {{#if table}}
        <table>
          {{#each table}}
            <tr>
              <th>{{label}}</th>
              <td>{{text}}</td>
            </tr>
          {{/each}}
       </table>
      {{/if}}
      {{#if list}}
        <ul class='list'>
          {{#each list}}
          <li>
          <h5>{{title}}</h5>
          <ul>
            {{#each itens}}
            <li>
            <strong>{{title}}</strong>
            {{#each texts}}
            <p> {{this}} </p>
            {{/each}}
            </li>
            {{/each}}
          </ul>
          </li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if texts}}
        {{#each texts}}
          <p>{{this}}</p>
        {{/each}}
      {{/if}}
    </li>
    {{/if}}
  {{/each}}
</ul>
</div>
