<ol id="activities">
  {{#each activities}}
  <li class="year">
    <p class="header">
      <span class="line"></span>
      <span class="text">No ano {{year}} gastei <span class="value">R$ {{total}}</span>
    </p>
    <ol class="month">
      {{#each month}}
      <li>
        <p class="header">
          <span class="line"></span>
          <span class="text">Em {{hummanize_month}} gastei <span class="value">R$ {{total}}</span>
        </p>
        <ol>
          {{#each data}}
          <li class="money">
          <header class="clearfix">
          <div class="img">
            <img src="{{../../../deputado.image_url}}" alt />
          </div>
          <div class="about">
            <h5>{{../deputado.nome_parlamentar}}</h5>
            <time>{{post_time}}</time>
          </div>
          </header>
          <p>Gastei <span class="value">R$ {{valor_documento}}</span> com <span class="object">{{descricao}}</span>- <span class="at"> — em <a href="/beneficiario/{{cnpjcpf}}">{{beneficiario}}</a></span></p>
          </li>
          {{/each}}
        </ol>
      </li>
      {{/each}}
    </ol>
    </li>
  {{/each}}
  <!--         <li class="text">
  <header class="clearfix">
  <div class="img">
    <img src="deputado.jpg" alt />
  </div>
  <div class="about">
    <h5>Deputado TIRIRICA</h5>
    <time>1 dia atrás</time>
  </div>
  </header>
  <p>Sapiente direct trade VHS eu. Magna anim in mlkshk lomo williamsburg. Gluten-free synth lomo craft beer bespoke, flexitarian pop-up organic hoodie banksy aliquip. Mcsweeney's single-origin coffee deserunt brooklyn chambray. Mixtape aute banh mi, non elit pop-up aesthetic pinterest commodo chillwave beard street art pour-over sunt scenester. Incididunt truffaut craft beer magna culpa cliche. Before they sold out jean shorts godard readymade, vinyl consectetur adipisicing. </p>
  <h4 class="at">Discurso na Plenaria sobre Direitos Humanos</h4>
  <a href="#">ver integra</a>
  </li>
  <li class="video">
  <header class="clearfix">
  <div class="img">
    <img src="deputado.jpg" alt />
  </div>
  <div class="about">
    <h5>Deputado TIRIRICA</h5>
    <time>2 dias atrás</time>
  </div>
  </header>
  <p>Video meu discusão na Plenaria sobre Direitos Humanos</p>
  <span class="with">- Com
    <a href="#">João Pereira</a>
    <a href="#">Maria do Carmo</a>
    <a href="#">Vitor Leonardo</a>
    <a href="#">Sussane Pereira</a>
  </span>
  </li>
  <li class="travel">
  <header class="clearfix">
  <div class="img">
    <img src="deputado.jpg" alt />
  </div>
  <div class="about">
    <h5>Deputado TIRIRICA</h5>
    <time>13 dias atrás</time>
  </div>
  </header>
  <p>Viajei para <span class="to">Fernando de Noronha</span></p>
  </li> -->
</ol>
