<h2> Deputados </h2>

<input class="search span8" placeholder="Busca por Nome" />

<ul id="deputados" class="list">
  {{#each deputados}}
  <li>
    <a href="/{{uri}}" class="image_wrapper">
      <img src="{{image_url}}" />
    </a>
    <div class='info'>
      <a href="/{{uri}}" class="name">{{nome_parlamentar}}</a>
      <span><i class="icon-mail"></i> {{email}}</span>
      <span><i class="icon-phone"></i> {{fone}}</span>
      <span class="uf"><i class="icon-location"></i> {{uf}}</span>
    </div>
  </li>
  {{/each}}
</ul>
