{{#with deputado}}
<ul>
  <li>anexo: {{anexo}},</li>
  <li>cadastro_id: {{cadastro_id}},</li>
  <li>email: {{email}},</li>
  <li>fone: {{fone}},</li>
  <li>gabinete: {{gabinete}},</li>
  <li>id: {{id}},</li>
  <li>nome: {{nome}},</li>
  <li>nome_parlamentar: {{nome_parlamentar}},</li>
  <li>parlamentar_id: {{parlamentar_id}},</li>
  <li>partido_id: {{partido_id}},</li>
  <li>sexo: {{sexo}},</li>
  <li>uf: {{uf}}</li>
</ul>
{{/with}}
