
{{#with deputado}}
<aside>
  <img class="img-polaroid" src="{{image_url}}" alt />
  <div id="name">
    <h2>Deputado {{nome_parlamentar}} <span class="realname">({{nome}})</span></h2>
  </div>
  <ul class="clearfix">
    <li class="space">&nbsp;</li>
    <li class="current"><a href="/{{id}}">Timeline</a></li>
    <li><a href="/{{id}}/sobre">Sobre</a></li>
    <li><a href="/{{id}}/projetos">Projetos</a></li>
    <li><a href="/{{id}}/cota">Cota</a></li>
    <li><a href="/{{id}}/discursos">Discursos</a></li>
    <li><a href="/{{id}}/videos">Vídeos</a></li>
    <li><a href="/{{id}}/audios">Áudios</a></li>
  </ul>
</aside>
{{/with}}

<div id="feed">
</div>
